@page "/convert"

<PageTitle>Konvertering</PageTitle>

<h1>Konvertering</h1>
<p>På denna sida kan du konvertera kilometer/h till miles/h.<br />Skriv in kilometer nedan och få svaret genom att klicka på knappen</p>

<div class="form">
    <label for="km">Kilometer:</label>
    <input type="number" id="km" @bind="kmph" />
    <button @onclick="kmphToMph">Konvertera</button>
</div>
<p><strong>Resultat:</strong> @kmph kilometer/h är @mph miles/h</p>

@code {

    private double mph;
    private double kmph;
    private void kmphToMph()
    {
        mph = (int)(0.6214 * kmph);
    }
}
