@page "/"

<PageTitle>Startsida</PageTitle>

<div>
    <h1>Välkommen</h1>
    <p>Denna webbplats är skapad med hjälp av Blazor WebAssembly, som en del av moment 1 i kursen Webbutveckling med .NET.</p>
    <p>På undersidan för <i>Konvertering</i> kan du konvertera .... och på undersidan <i>JSON</i> kan du se information utläst från en JSON- fil. Mycket nöje!</p>
</div>