@page "/"

<PageTitle>Startsida</PageTitle>

<div>
    <h1 class="display-4">Välkommen</h1>
    <p>Denna webbplats är skapad med hjälp av ASP.NET Core och Razor.</p>
    <p>På undersidan för <i>Konvertering</i> kan du konvertera .... och på undersidan <i>JSON</i> kan du se information utläst från en JSON- fil. Mycket nöje!</p>
</div>