@page "/"

<PageTitle>Startsida</PageTitle>

<div>
    <h1>Välkommen</h1>
    <p>Denna webbplats är skapad med hjälp av Blazor WebAssembly, som en del av moment 1 i kursen Webbutveckling med .NET.</p><br />
    <p>På undersidan för <i>Konvertering</i> kan du konvertera kilometer/h till miles/h samt meter till feet och på undersidan <i>JSON</i> kan du se vilka kurser jag läst under utbildningen utläst från en JSON- fil. Mycket nöje!</p>
    <br />
</div>
<div>
    <Component />
</div>