@page "/json"
@inject HttpClient Http

<PageTitle>JSON</PageTitle>

<h1>JSON</h1>

<h2>Kurser jag läst:</h2>

@if (courses == null)
{
    <p><em>Laddar...</em></p>
}
else
{
    <div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Kurskod</th>
                <th>Kursnamn</th>
                <th>Kursplan</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td>@course.Code</td>
                    <td>@course.Name</td>
                    <td><a href="@course.Syllabus" target="_blank">Länk till kursplan</a></td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}

@code {
    private CourseList[]? courses;

    protected override async Task OnInitializedAsync()
    {
        courses = await Http.GetFromJsonAsync<CourseList[]>("sample-data/courses.json");
    }

    public class CourseList
    {

        public string? Code { get; set; }

        public string? Name { get; set; }

        public string? Syllabus { get; set; }

    }
}
