@inherits LayoutComponentBase

<header>
    <NavLink href="/" class="logo">Moment 1.2</NavLink>
</header>
<main>
    <aside id="menu">
        <NavMenu />
    </aside>
    <div class="container">
        @Body
    </div>
</main>
 
<footer>
    <p>Av Lina Petersson - Kontakta mig via e-post: lipe2106@student.miun.se</p>
</footer>
