<nav>
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Startsida</NavLink>
        </li>
        <li>
            <NavLink href="/convert">Konvertering</NavLink>
        </li>
        <li>
            <NavLink href="/json">JSON</NavLink>
        </li>
    </ul>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
